<!--  content container -->
	<div class="widecontainer">
		<p>
			Welcome <strong>displayName</strong>
		<hr class="success">
		<h3>Applications</h3>
		<p>You have access to the following backend applications</p>
		<div class="row">
			<div class="col-lg-9">
				<!-- App container-->
				<div class="row">
					<div class="col-lg-2">
						<h1 class="tc07 text-center">
							<span class="glyphicon glyphicon-off"></span>
						</h1>
						<h5 class="text-center">
							<a href="admin/">SCOPE.admin</a>
						</h5>
					</div>
					
					<div class="col-lg-2">
                    <h1 class="tc03 text-center"><span class="glyphicon glyphicon-bullhorn"></span></h1>
                    <h5 class="text-center"><a href="custcomm/">communications</a></h5>
                    </div>
					
					<div class="col-lg-2">
						<h1 class="tc04 text-center">
							<span class="glyphicon glyphicon-wrench"></span>
						</h1>
						<h5 class="text-center">
							<a
								href="http://pangaea-ux.homeoffice.wal-mart.com/prototypes/cs/vision/Dashboard.html"
								target="_blank">service</a>
						</h5>
					</div>

					<div class="col-lg-2">
						<h1 class="text-muted text-center">
							<span class="glyphicon glyphicon-dashboard"></span>
						</h1>
						<h5 class="text-center">dashboards</h5>
					</div>

					<div class="col-lg-2">
						<h1 class="text-muted text-center">
							<span class="glyphicon glyphicon-plane"></span>
						</h1>
						<h5 class="text-center">dsvManagement</h5>
					</div>

					<div class="col-lg-2">
						<h1 class="tc05 text-center">
							<span class="glyphicon glyphicon-indent-left"></span>
						</h1>
						<h5 class="text-center">
							<a href="inventory/">inventory</a>
						</h5>
					</div>

					<div class="col-lg-2">
						<h1 class="text-muted text-center">
							<span class="glyphicon glyphicon-th-list"></span>
						</h1>
						<h5 class="text-center">order</h5>
					</div>

					<div class="col-lg-2">
						<h1 class="text-muted text-center">
							<span class="glyphicon glyphicon-cog"></span>
						</h1>
						<h5 class="text-center">config</h5>
					</div>

				</div>

				<!-- App container-->

			</div>
			<div class="col-lg-3">
				<div class="well well-small" style="height: 500px;">
					<h1>
						<span class="glyphicon glyphicon-link tc03"></span> SCOPE
					</h1>

					<u>What does SCOPE stand for?</u> <br> SCOPE stands for "<strong>S</strong>upply
					<strong>C</strong>hain <strong>O</strong>perations <strong>P</strong>ortal
					<strong>E</strong>xtended", encompassing all the Supply chain
					functionalities into a single application providing seamless
					management of Backend operations of WALMART.COM by the respective
					Business users. <br>
				</div>
			</div>
		</div>

	</div>



<!-- <div class="row-fluid">
	<div class="span12">
		<div class="hero-unit">
			<h1>Walmart portal</h1>
			<p>This is your home page.</p>
		  <p>
		    <a class="btn btn-primary btn-large" href="">
		      button
		    </a>
		  </p>
		</div>
	</div>
</div> -->
